<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis referencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid style="background-color: orange;">
    <ion-row>
      <ion-col size="3" size-lg>
        <p>Dr. Mauricio Maruri</p>
      </ion-col>
      <ion-col size="7" size-lg>
        <p style="color: green;">
          Abogado - Teléfono: 0984624655 - Email: maruri-abogado@hotmail.com
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" size-lg>
        <p>Santiago López</p>
      </ion-col>
      <ion-col size="7" size-lg>
        <h5>BanEcuador gerencia financiera</h5>
        <p style="color: green;">
          Técnologo en Contabilidad de Costos - Teléfono: 0998706134 - Email: santy_14rl@hotmail.com
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" size-lg>
        <p>Dr. Carlos Redroban</p>
      </ion-col>
      <ion-col size="7" size-lg>
        <p style="color: green;">
          Teléfono: 0987267682 - Email: hernancarloscooper5@gmail.com
        </p>
        <h6>Técnico Dental</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-explore-container name="Ref"></app-explore-container> -->
</ion-content>
